<%# 

	- Node.JS를 활용한 Chartting 프로그램 구현. 
		
%><%- include('../_inc/chat.header.ejs') 
%><%- include('../_inc/chat.header.svg.ejs') 
%><%- include('../_inc/chat.header.nav.ejs') 
%>
	<div class="container col-12 col-lg-auto me-lg-auto">
		<main>
			<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 280px;border-left:1px #aaa solid;">
				<a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
					<svg class="bi me-2" width="30" height="24"><use xlink:href="#people-circle"/></svg>
					<span class="fs-5 fw-semibold">User List</span>
				</a>
				<div id="panel_idPeers" class="list-group list-group-flush border-bottom scrollarea" style="height:438px;"></div>
				<div class="b-divider-w"></div>
				<a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
					<svg class="bi" width="20" height="20"><use xlink:href="#film"/></svg>
					<span class="fs-5 fw-semibold">&nbsp;Video Live</span>
				</a>
				<div class="list-group list-group-flush">
					<div id="panel_video" class="video-self"></div>
				</div>
				<div class="list-group list-group-flush">
					<form class="form-control-card p-2">
						<div class="input-group">
							<button id="btnVideoOn" class="btn btn-sm" style="width:33%;"> ON </button>
							<button id="btnVideoOff" class="btn btn-sm" style="width:33%;"> OFF </button>
							<button id="btnVideoJoin" class="btn btn-sm" style="width:33%;"> JOIN </button>
						</div>
					</form>
				</div>
			</div>
			<div class="b-divider-h"></div>
			<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 600px;">
				<div id="panel_CanversGroup" style="display:block;">
					<a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
						<svg class="bi me-2" width="30" height="30"><use xlink:href="#speedometer2"/></svg>
						<span class="fs-5 fw-semibold">Canvers</span>
					</a>
					<div class="list-group list-group-flush border-bottom">
						<div id="panel_UserPoints" style="width:0px;height:0px;"></div>
						<canvas id="panel_PointCanvers" width="550" height="400" style="background:#fefefe; border:1px solid #acadaf;">
							<p> 브라우저에서  캔버스 지원이 안됩니다.<br> 파이어폭스 , 크롬등을 이용해서 보세요.</p>
						</canvas>
					</div>
				</div>
				<div id="panel_VideosGroup" style="display:none;">
					<a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
						<svg class="bi me-2" width="30" height="30"><use xlink:href="#film"/></svg>
						<span class="fs-5 fw-semibold">&nbsp;User Videos</span>
					</a>
					<div class="video-grid list-group list-group-flush border-bottom"></div>
				</div>
				<div class="b-divider-w"></div>
				<a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
					<svg class="bi" width="20" height="20"><use xlink:href="#files"/></svg>
					<span class="fs-5 fw-semibold">&nbsp;Chart Form</span>
				</a>
				<div class="list-group list-group-flush border-bottom">
					<form class="form-control-card p-2">
						<div class="input-group">
							<input  id="txtChatMsg" type="text" class="form-control" placeholder="New Message" />
							<button id="btnChatSend" type="button" class="btn btn-success" style="width:120px;">Send</button>
						</div>
					</form>
					<form class="form-control-card p-2">
						<div class="input-group">
							<input  id="txtSelectUser" type="text" class="form-control" placeholder="User Name" />
							<button id="btnSecretChat" type="button" class="btn btn-primary" style="width:120px;">SecretChat</button>
						</div>
					</form>
					<form class="form-control-card p-2">
						<div class="input-group">
							<input  id="panel_UserPenColor" type="text" class="form-control color-picker" style="background-color:#ffffff;width:25%;" readonly />
							<button id="btnChangeColor" class="btn btn-info btn-sm" style="width:25%;"> Change Color </button>	
							<button id="btnCanversClear" class="btn btn-danger btn-sm" style="width:25%;"> Clear </button>
							<div class="form-control" style="width:25%;"></div>
						</div>
					</form>				
					<div class="bs-component">
						<div id="panel_LogMsg" style="position:relative;background:#eeeeee;height:125px;overflow-x:hidden;overflow-y:scroll;padding:5px;"></div>
					</div>
				</div>
			</div>
			<div class="b-divider-h"></div>
			<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 350px;border-right:1px #aaa solid;">
				<a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
					<svg class="bi me-2" width="30" height="30"><use xlink:href="#grid"/></svg>
					<span class="fs-5 fw-semibold">Message</span>
				</a>
				<div id="panel_ChatMsg" class="list-group list-group-flush border-bottom scrollarea"></div>
			</div>
		</main>
	</div>
	
	<div id="panel_template" style="display:none;">
		<a href="#" tmpl-id="user-item" session-id='' session-name='' class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="false">
			<div class="d-flex w-100 align-items-center">
				<span class='color-picker' style='display:inline-block;width:20px;height:20px;background-color:#fff;border:1px solid #000;margin-right:7px;'>&nbsp;</span>
				<span class='badge'>0</span>
				<strong class="mb-1">-</strong>
			</div>
		</a>

		<a href="#" tmpl-id="panel-logMsg" class="list-group-item list-group-item-action py-3 lh-tight">
			<div class="col-10 mb-1 small"></div>
		</a>
		
		<a href="#" tmpl-id="panel-chatMyMsg" class="list-group-item list-group-item-action py-3 lh-tight">
			<div class="d-flex w-100 align-items-center justify-content-between">
				<strong class="mb-1"></strong>
				<small></small>
			</div>
			<div class="col-10 mb-1 small"></div>
		</a>
		<a href="#" tmpl-id="panel-chatFnMsg" class="list-group-item list-group-item-action py-3 lh-tight">
			<div class="d-flex w-100 align-items-center justify-content-between">
				<strong class="mb-1"></strong>
				<small></small>
			</div>
			<div class="col-10 mb-1 small"></div>
		</a>

		<div tmpl-id="panel-userPoint" style="position:absolute;top:0px;left:01px;z-index:100;">
			<span class="label" style="border:1px solid #fff;"></span>
		</div>
	</div>
<script>
	/*
		<%= body %>
	*/
	const CHAT_UUID = '<%= uuid %>';
	$(document).ready(function() {
		$('form').on('submit', () => {return false;});
		
        const oChat = new socialChat(window
			, $("#panel_ChatMsg")		// panelChatMsg
			, $("#panel_LogMsg")		// panelLogMsg
			, $("#panel_idPeers")		// panelPeers
			, $("#panel_CanversGroup")	// panelCanversGroup
			, $("#panel_VideosGroup")	// panelVideosGroup
			, $("#panel_PointCanvers")	// panelPointCanvers
			, $("#panel_UserPenColor")	// panelUserPenColor
			, $("#panel_UserPoints")	// panelUserPoints
			, $("#panel_template")		// panelTemplate
			, $("#panel_video")			// panelVideo
			, $("#txtUserName")			// txtUserName
			, $("#txtChatMsg")			// txtChatMsg
			, $("#txtSelectUser")		// txtSelectUser
			, $("#btnChatSend")		// btnSend
			, $("#btnSecretChat")	// btnSelect
			, $("#btnConnect")		// btnConnect
			, $("#btnDisconnect")	// btnDisconnect
			, $("#btnChangeColor")	// btnChangeColor
			, $("#btnCanversClear")	// btnCanversClear
			, $("#btnVideoJoin")	// btnVideoJoin
			, $("#btnVideoOn")		// btnVideoStart
			, $("#btnVideoOff")		// btnVideoEnd
        );
	});
</script>
<%-include('../_inc/chat.footer.ejs') %>